---
layout: page
title: Milestone 1
---

<div style="margin-bottom: 2rem">
  Cette page inclus les réponses pour le <b>milestone #1</b>, mais d'autres milestones sont disponibles:
  <ul style="padding-top: 1rem"">
    <li><a href="/milestone-1">Milestone 1</a></li>
    <li><a href="/milestone-2">Milestone 2</a></li>
  </ul>
</div>
<hr>
<div class="posts">
  {% assign sorted_posts = site.posts | sort: 'question' | reverse %}
  {% for post in sorted_posts %}
    {% if post.milestone == 1 %}
      <div class="post">
        <h1 class="post-title">
          <a href="{{ post.url | absolute_url }}">
            {{ post.title }}
          </a>
        </h1>

        <span class="post-info">
          {{ post.date | date_to_string }}
          <span class="post-question">Milestone #<b>{{ post.milestone }}</b></span>
        </span>
        <span class="post-more-info">
          {{ post.auteurs }}
          <span class="post-question">Partie #<b>{{ post.question }}</b></span>
        </span>

        <div class="post-content">
          {{ post.content }}
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ paginator.next_page_path | absolute_url }}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ '/' | absolute_url }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ paginator.previous_page_path | absolute_url }}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
